In [1]:
import requests
from bs4 import BeautifulSoup
import time
import pandas as pd

In [2]:
team_name = 'chelsea'
year = 2013
team_url = 'https://fbref.com/en/squads/cff3d9bb/2012-2013/Chelsea-Stats'
data = requests.get(team_url)
soup = BeautifulSoup(data.text)

In [3]:
# Scores & Fixtures
print(f"*******Crawling Scores & Fixtures for {team_name} in season {year-1}-{year}")
try:
    matches = pd.read_html(data.text, match="Scores & Fixtures")[0]
except ValueError:
    print(f"Could not find Scores & Fixtures for {team_name} in {year-1}-{year}")
# Shooting
soup = BeautifulSoup(data.text)
links = [l.get("href") for l in soup.find_all('a')]
links2 = [l for l in links if l and 'all_comps/shooting/' in l]

if links2:
    data2 = requests.get(f"https://fbref.com{links2[0]}")
    shooting = pd.read_html(data2.text, match="Shooting")[0]
    shooting.columns = shooting.columns.droplevel()
else:
    print(f"Could not find Shooting for {team_name} in {year-1}-{year}")

*******Crawling Scores & Fixtures for chelsea in season 2012-2013

C:\Users\Admin\AppData\Local\Temp\ipykernel_14772\1786236421.py:4: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(data.text, match="Scores & Fixtures")[0]
C:\Users\Admin\AppData\Local\Temp\ipykernel_14772\1786236421.py:14: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  shooting = pd.read_html(data2.text, match="Shooting")[0]

In [4]:
shooting.head()

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,Gls,Sh,SoT,SoT%,G/Sh,G/SoT,Dist,PK,PKatt,Match Report
0,2012-08-19,NaN,Premier League,Matchweek 1,Sun,Away,W,2.0,0.0,Wigan Athletic,2,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,Match Report
1,2012-08-22,NaN,Premier League,Matchweek 3,Wed,Home,W,4.0,2.0,Reading,4,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,Match Report
2,2012-08-25,NaN,Premier League,Matchweek 2,Sat,Home,W,2.0,0.0,Newcastle Utd,2,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,Match Report
3,2012-09-15,NaN,Premier League,Matchweek 4,Sat,Away,D,0.0,0.0,QPR,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,Match Report
4,2012-09-19,NaN,Champions Lg,Group stage,Wed,Home,D,2.0,2.0,it Juventus,2,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,Match Report